body {
    background-color: #1c1c1c;
    color: white;

    font-family: Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

#freelancer-teams {
    list-style-type: none;
}

#freelancer-teams a {
    color: #97c4ff;
    text-decoration: underline;
}