body {
    background-color: #1c1c1c;
    color: white;

    font-family: Arial, sans-serif;
    font-size: 16pt;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

#freelancer-teams h3 {
    margin: 0;
}

#freelancer-teams-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    gap: 10px
}

#freelancer-teams-list li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 20em;
}

#freelancer-teams-list li:hover {
    animation-name: blink;
    animation-duration: 500ms;
}

@keyframes blink {

    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

#freelancer-teams-list a {
    color: #97c4ff;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#freelancer-teams-list img {
    width: 100%;
}